body { font-family:'Merriweather', 'Georgia', serif; font-size:0.9em; color:#000; }

a {color:#962020;}
a:hover { color:maroon;}
a:visited { color:maroon;}
a img { text-decoration:none; border:2px solid #444; }

h2 { letter-spacing:-1px;}
#logo { margin-top:3em; padding:0; width:500px; height:140px; background: url(../img/logo.png) no-repeat; text-indent: -9999px;}

#menu { font-size: 1.1em; margin-top:0; padding-top:0; border-bottom:3px solid #444; padding-bottom:6px;}
#menu li { list-style:none; display:inline; }
#menu a { display:inline; padding:8px 8px 6px 8px; margin-bottom:8px;font-weight:bold; text-transform:uppercase; font-style:none;}
#menu a:first { padding-left:0; }
#menu a:link, #menu a:visited { color:#962020; text-decoration: none;}
#menu a:hover {background:#aaa; color:white;}
#menu a.active {background:#444; color:white; }

#content { font-family:"Droid Sans"; } 
h2.title {display:inline; }
h3.dateline { display:inline; margin-left:1em; color:#444; font-size:0.9em; font-style:italic; }
#article-content p { padding-top:1em; font-family: 'Droid Sans', arial, sans-serif; line-height:1.5em;}
#article-attachments { clear:both; margin-top:6em; border-top:1px solid #444; }
#article-content p.attachment { float:left; margin:0 1em 1em 0; }

#article-archives ul { list-style:none }
#article-archives ul.months li { display:inline; padding-left:10px; }

#article-nav {padding:1px; background:#444; }
p#next-article { float:right; }
p#prev-article { float:left; }

#article-meta { }
#article-meta h4 { float:left; padding:0 1em 0 0.6em; }
#article-meta p.tags { background:#eee; padding:0.3em;}

#articles { list-style:none; }
#articles li{ padding:10px; margin:0em; }
#articles li:after { content:"#"; text-align:center;}
#articles h2 { font-size:26pt; padding:0; margin:0; }
#articles p.attachment { min-height:200px; overflow:hidden;}
#articles .image { position:relative; width:100%; }
#articles p{ margin:0;}
#articles .image h2 { font-size:20pt; position:absolute; width:400px; padding:10px; top:50px;  left:-10px; text-indent:-9999px; }
#articles .image h2 a { color:white; padding:10px; line-height:1.5em;}
#articles div.image:hover h2 { text-indent:0px; }
#articles div.image:hover h2 a { text-indent:0px; background:rgb(0,0,0); background:rgba(0,0,0,0.7);}

.footer { margin-top:2em; color:#777; }

table.table2{
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse:collapse;
    text-align:center;
}
.table2 thead th, .table2 tfoot td{
    color:#fff;
    background-color:#222;
    font-weight:normal;
    text-shadow:1px 1px 1px #000;
}
.table2 tfoot th{
    padding:10px;
    font-size:18px;
    color:#888;
}
.table2 tfoot td{
    font-size:36px;
    color:#EF870E;
    border-top:none;
    border-bottom:3px solid #666;
    -moz-box-shadow:0px 1px 4px #000;
    -webkit-box-shadow:0px 1px 4px #000;
    box-shadow:0px 1px 4px #000;
}
.table2 thead th:empty{
    background:transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.table2 thead :nth-last-child(1){
    border-right:none;
}
.table2 thead :first-child,
.table2 tbody :nth-last-child(1){
    border:none;
}
.table2 tbody th{
    text-align:right;
    padding:10px;
    color:#333;
    text-shadow:1px 1px 1px #ccc;
    background-color:#f9f9f9;
}
.table2 tbody td{
    padding:10px;
    background-color:#f0f0f0;
    border-right:1px dotted #999;
    text-shadow:-1px 1px 1px #fff;
    color:#333;
}
.table2 tbody span.check::before{
    content : url(../images/check1.png)
}

