body { font-family:'Merriweather', 'Georgia', serif; font-size:0.9em; color:#777; }

a {color:#962020;}
a:hover { color:maroon;}
a:visited { color:#444;}
a img { text-decoration:none; border:2px solid #444; }

#logo { margin-top:3em; padding:0; width:500px; height:140px; background: url(../img/logo.png) no-repeat; text-indent: -9999px;}

#menu { font-size: 1.1em; margin-top:0; padding-top:0; border-bottom:2px solid #444; }
#menu li { list-style:none; display:inline; }
#menu a { display:inline; padding:8px 8px 0 8px; font-weight:bold; text-transform:uppercase; font-style:none;}
#menu a:first { padding-left:0; }
#menu a:link, #menu a:visited { color:#962020; text-decoration: none;}
#menu a:hover {background:#aaa; color:white;}
#menu a.active {background:#444; color:white; }

#content { } 
h2.title {display:inline; }
h3.dateline { display:inline; margin-left:1em; color:#444; font-size:0.9em; font-style:italic; }
#article-content p { padding-top:1em; font-family: 'Droid Sans', arial, sans-serif; line-height:1.5em;}
#article-attachments { clear:both; margin-top:6em; border-top:1px solid #444; }
p.attachment { float:left; margin:0 1em 1em 0; }
p#next-article { float:right; }
p#prev-article { float:left; }

#article-meta { clear:both; }


dl.article { padding:1em; border:1px solid #444; }
