{% load foundation_tags %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="language" content="en-US" />
    <meta name="keywords" content="timberwyck farm castine maine {% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block extra-head %}{% endblock %}
    {% block base_title %}
    <title>{% block title %}Welcome{% endblock %} &#9728; Timberwyck Farm</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    {% foundation_css "normalize" %}
    {% foundation_css "foundation.min" %}
    {% endblock foundation_css %}  
    
    {# Custom CSS #}
    {% block css %}{% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    {% foundation_vendor "modernizr" %}
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>
<body {% block body_attr %}{% endblock body_attr %}>
   {# Main content goes here #}
   {% block base_body %}

   <!-- Header and Nav -->
    <div class="row">
      <div class="large-3 columns">
        <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
      </div>
      <div class="large-9 columns">
        <ul class="button-group right">
          <li><a href="{% url "articles_archive" %}" class="button">Blog</a></li>
          <li><a href="{% url "fm-genus-list" %}" class="button">Animals</a></li>
          <li><a href="{% url "fl-education" %}" class="button">Education</a></li>
          <li><a href="{% url "calendar_current_month" %}" class="button">Calendar</a></li>
        </ul>
      </div>
      <hr />
    </div>

    <!-- End Header and Nav -->
    
    {% block content %}
  
    <!-- First Band (Image) -->
  
    <div class="row">
      <div class="large-12 columns">
        <img src="http://placehold.it/1000x400&text=[img]">
  
        <hr>
      </div>
    </div>
    <!-- Second Band (Image Left with Text) -->
  
    <div class="row">
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]">
      </div>
      <div class="large-8 columns">
        <h4>This is a content section.</h4>
        <div class="row">
          <div class="large-6 columns">
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
          </div>
          <div class="large-6 columns">
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
          </div>
        </div>
      </div>
    </div>
  
  
    <!-- Third Band (Image Right with Text) -->
  
    <div class="row">
      <div class="large-8 columns">
        <h4>This is a content section.</h4>
  
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
  
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]">
      </div>
    </div>

    {% endblock content %}
  
  
    <!-- Footer -->
  
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>    
    {% endblock base_body %}

    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    {% foundation_vendor "jquery" %}
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    {% foundation_js %}
    {% endblock foundation_js %}

    {# Custom JS #}
    {% block body_js %}{% endblock body_js %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
    {% endblock foundation_js_init %}

    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1986611-10']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</body>
</html>
