{% load i18n thumbnail humanize typogrify_tags %}
<article>

  <h3><a href="{{article.get_absolute_url}}">{% trans article.title %}</a></h3>
  <h6>Written by <a href="#">{{article.author}}</a> on {{ article.publish_date|date:"j M, Y" }}.</h6>

  <div class="row">
      {% for att in article.attachments.all %}
      {% if forloop.first %}
        {% if att.content_type_class == "image_png" %}<img class="right" src="{{att.attachment.url}}" />{% endif %}
        {% if att.content_type_class == "image_jpeg" %}<img class="right" src="{% thumbnail att.attachment 400x240 %}" />{% endif %}
      {% endif %}
      {% endfor %}
      {{ article.content|safe }}
  </div>

</article>
