{% extends 'articles/base.html' %}
{% load i18n %}

{% block title %}Blog{% endblock %}

{% block articles-content %}
<h2>What's going on at the farm?</h2>
<p><em>Note: for more periodic updates, be sure to check out our <a href="{% url "notes-index" %}">notes page</a>.</em></p>
{% for article in page_obj.object_list %}
<h2 class="title">{% ifnotequal paginator.num_pages 1 %}, {% trans 'page' %} {{ page_obj.number }}{% endifnotequal %}</h2>
  {% include 'articles/_articles.html' %}
{% endfor %}
{% endblock %}
