{% load i18n humanize thumbnail %}
<div id="article-content" class="article">
    <h2 class="title">{% trans article.title %}</h2>
    <h3 class="dateline">{{ article.publish_date|naturalday }}</h3>

{% for att in article.attachments.all %}
	{% if att.content_type_class == "image_png" %}
	<p id="attachement-{{forloop.counter}}" class="attachment ct_{{ att.content_type_class }}">
	<img src="{{att.attachment.url}}" />
    </p>
    {% else %}
	{% if att.content_type_class == "image_jpeg" %}
	<p id="attachement-{{forloop.counter}}" class="attachment ct_{{ att.content_type_class }}">
    <a href="{{att.attachment.url }}"><img src="{% thumbnail att.attachment 620x0 %}" /></a>
    </p>
    {% endif %}
    {% endif %}
{% endfor %}

    {{ article.rendered_content|safe }}
</div>

<div id="article-nav" class="article-nav">
    {% if article.get_next_article %}
    <p class="nav" id="next-article">
        <strong>{% trans 'Next' %}</strong>:
        <a href="{{ article.get_next_article.get_absolute_url }}">{{ article.get_next_article.title }}</a>
    </p>
    {% endif %}

    {% if article.get_previous_article %}
    <p class="nav" id="prev-article">
        <strong>{% trans 'Previous' %}</strong>:
        <a href="{{ article.get_previous_article.get_absolute_url }}">{{ article.get_previous_article.title }}</a>
    </p>
    {% endif %}
</div>
