{% load i18n thumbnail humanize typogrify %}
	{% if article.attachments.all %}
		{% for att in article.attachments.all %}
        {% if forloop.first %}
			{% if att.content_type_class == "image_png" %}
	<div class="image">
	<p id="attachement-{{forloop.counter}}" class="attachment ct_{{ att.content_type_class }}"><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}"><img src="{{att.attachment.url}}" /></a></p>
	<h2 class="roll-title"><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ article.title|typogrify }}</a></h2>
	</div>
    		{% else %}
			{% if att.content_type_class == "image_jpeg" %}
	<div class="image">
	<p id="attachement-{{forloop.counter}}" class="attachment ct_{{ att.content_type_class }}"><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}"><img src="{% thumbnail att.attachment 500x220 crop %}" /></a></p>
    <h2 class="roll-title"><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ article.title|typogrify }}</a></h2>
	</div>
			{% else %}
	<h2><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ article.title }}</a></h2>
    		{% endif %}
    		{% endif %}
        {% endif %}
		{% endfor %}
	{% else %}
	<h2><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ article.title }}</a></h2>
	{% endif %}
	<p class="published quiet">{{ article.publish_date|naturalday }}</p>
