{% load i18n %}
    <dl class="article grid_2" id="article-{{article.id}}">
	    <dt><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ article.title }}</a></dt>
	    <dt class="published quiet">{% trans 'Posted on' %} {{ article.publish_date|date:"F jS, Y" }}</dt>
	    <dt class="byline quiet">{% trans 'by' %} <a href="{% url articles_by_author article.author.username %}" title="{% trans 'View articles posted by' %} {{ article.author.get_name }}">{{ article.author.get_name }}</a></dt>
    </dl>