{% extends 'wiki/base.html' %}
{% block extra-head %}
<script type="text/javascript" src="{{MEDIA_URL}}wymeditor/wymeditor/jquery.wymeditor.min.js"></script>
<script type="text/javascript">
jQuery(function() {
    jQuery('.wymeditor').wymeditor({

        stylesheet: 'styles.css'

    });
});
</script>
{% endblock %}
{% block content %}
<div class="grid_8 prefix_2 suffix_2">
        <h2>Edit</h2>
        <form action="" method="post" class="form-stacked">

                <div class="field_wrapper required{% if form.name.errors %} errors{% endif %}" id="field_name">
                        <label for="id_name" class="field_name"><strong>Page name</strong></label>
                        {% if form.name.errors %}{{ form.name.errors }}{% endif %}
                        <div class="field text_input">
                                {{ form.name }}
                        </div>
                </div>
        <br />
                <div class="content-form field_wrapper required{% if form.content.errors %} errors{% endif %}" id="field_content">
                        <label for="id_content" class="field_name"><strong>Content</strong></label>
                        {% if form.content.errors %}{{ form.content.errors }}{% endif %}
                        <div class="field textarea">
                                {{ form.content }}
                        </div>
        </div>
        <br />
        <p>You can format your text using <a href="{{ STATIC_URL }}markdown-reference/index.html" onclick="window.open('{{ STATIC_URL }}markdown_reference/index.html','height=400,width=600,scrollbars=1'); return false;">Markdown</a>.</p>

                <div class="submit">
                        <input type="submit" value="Save" />
                </div>

        </form>

</div>
{% endblock %}
