{% load article_tags %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="language" content="en-US" />
	<meta name="keywords" content="timberwyck farm castine maine {% block meta-keywords %}{% endblock %}" />
	<meta name="description" content="{% block meta-description %}{% endblock %}" />

	<title>{% block title %}Welcome{% endblock %} &#9728; Timberwyck Farm</title>
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
	<link href='{{MEDIA_URL}}css/960.css' rel='stylesheet' type='text/css'>
	<link href='{{MEDIA_URL}}css/main.css' rel='stylesheet' type='text/css'>
	
	{% block extra-head %}{% endblock %}
</head>

<body>
	<div class="container_12" id="logo">
		<h1><a href="/">Timberwyck Farm</a></h1>
		<h2>A small saltwater farm in Castine, Maine.</h2>
	</div>

  <div class="container_12" id="content">
		{% block content %}{% endblock %}
	</div>

	{% block footer %}
	<div class="container_12" id="footer">
		<p>Copyright &copy; {% now "Y" %} Colin Powell. All rights reserved. | Site designed & built by <a href="http://onecardinal.com">One Cardinal</a></p>
	</div>
	{% endblock %}

</body>

</html>
