{% extends 'farm/base.html' %}
{% load humanize typogrify_tags truncatechars note_tags farm_tags %}
{% block title %}{{object.name}} | Animals {% endblock %}

{% block extra-head %}
<script type="text/javascript">
$(document).ready(function(){
	
	$(".birth-record").hide();
	$(".note-form").hide();

	$("li.trigger").click(function(){
		$(this).toggleClass("active").next().slideToggle("slow");
	});
	$("p.trigger").click(function(){
		$(this).toggleClass("active").next().slideToggle("slow");
	});

});
</script>
	<script src="{{MEDIA_URL}}js/rotator.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		theRotator();
		$('div.rotator').fadeIn(1000);
    		$('div.rotator ul li').fadeIn(1000); // tweek for IE
	});
</script>
{% endblock %}


{% block content %}

<div id="animal-{{object.uuid}}" class="animal grid_8 prefix_2 suffix_2">
  <div id="editmenu">
    <ul>
    {% if user.is_authenticated %}
    <li class="add-note"><a class="button black showNoteWindow" href="#noteWindow">Add a note</a></li>
  	<script type="text/javascript">
			$('.showNoteWindow').openDOMWindow({height:350, width:300, anchoredClassName:'nnoteWindow', anchoredSelector:'.showNoteWindow', 
							eventType:'click', draggable:0, loader:1, loaderImagePath:'animationProcessing.gif', loaderHeight:16, loaderWidth:17 }); 
		</script>
    <div id="noteWindow" style="display:none;" class="note-form uniForm">
    <h3>Add a note to {{object.display_title}}</h3>
    <form action="{ url nt-post-note }" method="post">{% csrf_token %}
      {{ note_form.as_p }}
      <input type="submit" value="Create" />
    </form>
    <p class="alt" style="padding-left:10px;">Click outside the box to cancel.</p>
    </div>
    <li class="edit-animal"><a class="button black showAdminWindow" href="http://www.timberwyckfarm.com/admin/farm/animal/{{object.id}}/">Edit {{object.display_name}}</a></li>
  	<script type="text/javascript">
      $('.showAdminWindow').openDOMWindow({ height:500, width:900, positionType:'absolute', positionTop:50, eventType:'click', 
                                                    positionLeft:50, windowSource:'iframe', windowPadding:0, loader:1, 
                                                    loaderImagePath:'animationProcessing.gif', loaderHeight:16, loaderWidth:17 });
		</script>
    {% endif %}
    </ul>
  </div>
  <h2>{{object.display_name}} <span class="alt">({{object.breed}})</span></h2>
    {% if object.photos.all %}
    <div class="main-photo {% if object.photos.all.count > 1 %}rotator{% endif %}">
    <ul class="photo-rotator">
    {% for p in object.photos.all %}
      <li><img src="{{p.get_mug_url}}" alt="{{p}}" /></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

    <div class="info">
        <h4>Information</h4>
        <ul>
            <li><em>Breed:</em>&nbsp;<a href="{% url fm-breed-detail object.primary_breed.genus.slug object.primary_breed.slug %}">{{object.breed.title}}</a></li>
            <li><em>Sex:</em>&nbsp;{{object.get_sex_display}}</li>
            {% if object.birthday %}<li><em>Age:</em>&nbsp;{{object.age}} old</li>{% endif %}
            {% if object.dam%}<li><em>Dam:</em>&nbsp;<a href="{{object.dam.get_absolute_url}}">{{object.dam.name}}</a></li>{% endif %}
            {% if object.sire%}<li><em>Sire:</em>&nbsp;<a href="{{object.sire.get_absolute_url}}">{{object.sire.name}}</a></li>{% endif %}
            <li><em>ID:</em>&nbsp;{{object.uuid|truncate:10}}</li>
            <li><em>Offspring:</em>&nbsp;{{object.progeny.count}}</li>
            {% if object.sex == "F" %}<li><em>Litters:</em>&nbsp;{{object.births|length}}</li>{% endif %}
            <li><em>Breeder:</em>&nbsp;{% if object.breeder_farm %}{{object.breeder_farm}}{% else %}{{object.alt_breeder}}{% endif %}</li>
            <li><em>Owner:</em>&nbsp;{% if object.owner_farm %}{{object.owner_farm}}{% else %}{{object.alt_owner}}{% endif %}</li>
            {% for a in object.animalattribute_set.all %}
            <li><em>{{a.description|caps}}:</em>&nbsp;{{a.value}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="description">
        {{object.rendered_description|safe}}
    </div>

    {% if object.photos.all and object.photos.all.count > 1 %}
    <div id="more-photos" class="box photos">
    <h3 >More photos</h3>
    {% for p in object.photos.all %}
      {% if forloop.first %}
      {% else %}
      <p><img src="{{p.get_thumbnail_url}}" alt="{{p}}" /></p>
      {% endif %}
    {% endfor %}
    </div>
    {% endif %}


    {% if object.notes.all %}
    <div class="notes">
    <h3 >Notes</h3>
	    {% note_list_for object %}
    </div>
    {% endif %}

    {% if object.progeny %}
    <div class="progeny">
    <h3>Offspring</h3>
    {% if object.sire_of %}
      <h4>Sire of </h4>
      {% child_table_for object %}
    {% endif %}

    {% if object.dam_of%}
      <h4>Dam of </h4>
      {% child_table_for object 'dam' %}
    {% endif %}
    </div>

    {% endif %}


    
</div>

{% endblock %}
