{% extends 'farm/base.html' %}
{% load humanize typogrify_tags markup truncatechars note_tags farm_tags %}
{% block title %}{{breed.title}} | Animals {% endblock %}

{% block submenu %}
    {% get_genuses all as genuses %}
    <ul class="submenu">
    {% for g in genuses %}
    {% ifequal g object %}
        <li >{{g.plural_title}}</li>
    {% else %}
        <li ><a class="" href="{{g.get_absolute_url}}">{{g.plural_title}}</a></li>
    {% endifequal %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<div id="breed-{{breed.id}}" class="grid_8 prefix_2 suffix_2">
  <p class="animal-icon"><img src="{{MEDIA_URL}}img/animal_icons/{{object.genus.slug}}.png" /></p>
  <h2>{{breed}}</h2>

  {{breed.description|markdown|typogrify}}

      <ul class="animals">
  {% for a in breed.animal_set.all %}
          {% if a.name %}
          <li><a href="{{a.get_absolute_url}}">{{a.name}}</a></li>
          {% endif %}
          {% endfor %}
      </ul>
  </div>
</div>

{% endblock %}

