{% extends 'farm/base.html' %}
{% load humanize typogrify_tags truncatechars note_tags farm_tags %}

{% block submenu %}
    {% get_genuses all as genuses %}
    <ul class="submenu">
    {% for g in genuses %}
    {% ifequal g object %}
        <li >{{g.plural_title}}</li>
    {% else %}
        <li ><a class="" href="{{g.get_absolute_url}}">{{g.plural_title}}</a></li>
    {% endifequal %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<div id="genus-{{object.id}}" class="animal grid_8 prefix_2 suffix_2">
  <p class="animal-icon"><img src="{{MEDIA_URL}}img/animal_icons/{{object.slug}}.png" /></p>
  <h2>{{object}} {% if object.technical_name %}<span class="alt">({{object.technical_name}})</span>{% endif %}</h2>

  {% for b in genus.breed_set.all %}
  {% if b.animal_set.all %}
  <div class="breed" id="{{b.genus}}">
      <p><a class="" href="{{b.get_absolute_url}}">{{b.title}}</a></p>
      {% if b.animal_set.all %}
      <ul class="animals">
          {% for a in b.animal_set.all %}
          {% if a.name %}
          <li><a href="{{a.get_absolute_url}}">{{a.name}}</a></li>
          {% endif %}
          {% endfor %}
      </ul>
      {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}

