{% extends 'farm/base.html' %}
{% load humanize typogrify_tags %}

{% block body-class %}pr{% endblock %}
{% block title %}Products{%endblock %}
{% block submenu %}{% endblock %}

{% block extra-head %}
    <link href='{{MEDIA_URL}}css/table.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

{% regroup product_list|dictsort:"type.title" by type as products %}
<div class="grid_8 prefix_2 suffix_2">
<h2>What we sell</h2>

{% for product in products %}
    <h3>{{product.grouper}}</h3>
    <table >
        <tr><th>Product</th><th>Price</th><th>Quantity</th></tr>
        {% for p in product.list|dictsortreversed:"price" %}
        <tr><td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td><td>${{p.price|floatformat}}{% if p.unit%}/{{p.unit}}{% endif %}</td><td>{% if p.quantity %}{{p.quantity}}{%endif %}</td></tr>
        {% endfor %}
    </table>
{% endfor %}
</div>

{% endblock %}
